<ion-view view-title="Login">
  <ion-content>

    <div>

      <h1 class='text-center'>Login</h1>
      <div id='loginForm' class='list'>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type='email' ng-model='login.email' placeholder='Email' ng-readonly='emailed'>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Full Name</span>
          <input type='text' ng-model='login.name' placeholder='Full Name' ng-readonly='emailed'>
        </label>

        <label class="item item-input item-stacked-label" ng-if='emailed'>
          <span class="input-label">Code</span>
          <input type='password' ng-model='security.code' placeholder='Code'>
        </label>

        <button class='button button-block button-positive' ng-if='!emailed' ng-click='submitEmail(login)'>
          Submit
        </button>
        <button class='button button-block button-balanced' ng-if='emailed' ng-click='submitCode(security, login)'>
          Login
        </button>
      </div>

    </div>

  </ion-content>
</ion-view>
