<ion-view view-title="Schedule">
  <ion-content class='has-header'>

  <!-- MONTHLY VIEW -->
  <div class='month-calendar-frame'>
    <h3 class='text-center'>
      <button type='button' class='clear-button' style='padding-right: 2em' ng-click='prevMonth()'> < </button>
      {{ month }} {{ year }}
      <button type='button' class='padding-left clear-button' style='padding-left: 2em' ng-click='nextMonth()'> > </button>
    </h3>
    <div class='month-calendar'>
      <div id='week0' class='row week-in-month week-header'>
        <div class='day-in-week'> M </div>
        <div class='day-in-week'> T </div>
        <div class='day-in-week'> W </div>
        <div class='day-in-week'> R </div>
        <div class='day-in-week'> F </div>
        <div class='day-in-week'> S </div>
        <div class='day-in-week'> S </div>
      </div>
    </div>
  </div>


  <!-- YEAR VIEW -->
    <div class='horiz-frame year-frame'>
      <h3 class='text-center'>{{ year }}</h3>
      <div class='year-view'></div>
      <div class='legend-category'>
        <div class='day worked-out legend-day'></div>
        <span class='legend-key'>Workout</span>
      </div>
      <div class='legend-category'>
        <div class='day no-workout legend-day'></div>
        <span class='legend-key'>Lazy</span>
      </div>
      <div class='legend-category'>
        <div class='day today legend-day'></div>
        <span class='legend-key'>Today</span>
      </div>
      <div class='legend-category'>
        <div class='day scheduled-workout-day legend-day'></div>
        <span class='legend-key'>Scheduled</span>
      </div>
    </div>

  </ion-content>
</ion-view>
