/* Empty. Add your own CSS if you like */


#seven-days {
  position: absolute;
  margin: 0 auto;
}

.one-in-seven {
  width: 14.28%;
  position: display;
  margin: 0 auto;
  display: inline-block;
  border: 2px solid silver;
  text-align: center;
}

.margin-top-medium {
  margin-top: 1em !important;
}

#connect-spotify {
  margin-top: 15em !important;
  width: 90%;
  font-size: 1.5em;
  margin: 0 auto;
}

.workout-empty {
  color: gray;
  float: right;
  font-style: italic;
}

.workout-list-item {
  font-size: 1.5em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

/* TRAININGPARTNERS.HTML */

#find-email-input {
  font-size: 1.3em;
  line-height: 1.3em;
}

.partner-button {
  font-size: 1.3em;
}

/* END OF TRAININGPARTNERS.HTML */

/* CONTACTS.HTML */

.contact-name {
  font-size: 1.2em;
  width: 80%;
  display: inline-block;
  padding-left: 10px;
  text-overflow: ellipsis;
}

.email-list {
  font-size: 0.8em;
  width: 70%;
  display: inline-block;
  float: right;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-email {
  width: 100%;
  display: inline-block;
  float: right;
  padding: 10px 4px 10px 4px;
  background-color: silver;
  border-radius: 5px;
  border: none;
  overflow-x: hidden;
  border: 2px solid green;
}

#add-contacts {
  font-size: 1.4em;
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  color: black;
}

/* END OF CONTACTS.HTML */